@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Shrikhand&display=swap');

*{
box-sizing: border-box;
}

body{
height: 100%;
width: 100%;
font-family: Roboto,sans-serif;
overflow-x: hidden; 
}

/*RESTAURANT 1 */

.logo{
text-align: center;
font-family: Shrikhand,"cursive";
margin: 0;
box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
padding: 8px;
position: relative;
}

/*REMPLISSAGE COEUR*/

.far.fa-heart{
font-size: 2rem;
margin-right: 10px;
position: relative;
bottom: 64px;
display: flex;
justify-content: flex-end;
}
        
.fas.fa-heart{
display: flex;
justify-content: flex-end;
font-size: 2rem;
margin-right: 10px;
position: relative;
bottom: 96px;
}
        
.heart_color{
color: transparent;
background: linear-gradient(#9356DC, #FF79DA);
background-clip: text;
-webkit-background-clip: text;
opacity: 0;
-webkit-transition: 700ms;
transition: 700ms;
}
        
        
.heart_color:hover{
opacity: 1;
}
        
   
/* IMAGE LOGO*/
               
.img_palette{
width: 100%;
height: 60vh;
object-fit: cover
}


/* BLOC RESTAURANT*/


.bloc_restaurant h2{
font-family: Shrikhand,"cursive";
}
            
.bloc_restaurant{
border-radius: 20px 20px 0px 0px;
background: #f6f6f6;
margin-top: -112px;
position: relative;
padding: 1rem;  
width: 70%;
margin-left: 14%;
}
                
       
.menus_restaurant{
background: #f6f6f6;   
}
    
    
.menus_entrées{
display: flex;
flex-direction: column;
}
    
.title{
border-bottom: 4px solid #99E2D0;
width: 5%;
}

/* MENUS RESTAURANT*/
      
.items__menus{
display: flex;
background-color: white;
width: 80%;
border-radius: 20px;
height: 70px;
padding-left: 15px;
border-radius: 20px;
margin: 10px;
overflow: hidden;
box-shadow: 2px 1px 8px -3px black;
white-space: nowrap; 
cursor: pointer;
margin-right: 0;
animation: appear 500ms both;
}


.dish_1 {
animation-delay: 100ms;
}
.dish_2{
animation-delay: 200ms;
}
.dish_3{
animation-delay: 300ms;
}
.dish_4{
animation-delay: 400ms;
}
.dish_5{
animation-delay: 500ms;
}
.dish_6{
animation-delay: 600ms;
}
.dish_7{
animation-delay: 700ms;
}
.dish_8{
animation-delay: 800ms;
}
.dish_9{
animation-delay: 900ms;
}
.dish_10{
animation-delay: 1000ms;
}


.menus_description h3,
.menus_description P{
margin: 0;
padding: 0;
}
    
    
.menus_description{
margin-top: 10px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}


.menus_items_price{
margin-left: auto;
padding: 1rem;
}

.menus_description p{
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;   
}

/* CHECKMARCK*/    
    
.menus_icon_slide{
width: 4rem;
margin-right: -4rem;
background-color: #99E2D0;
transition: all 500ms;
border-radius: 0 1rem 1rem 0;
display: grid;
place-items: center;
}
    
.fas.fa-check{
background-color: white;
border-radius: 50%;
height: 2rem;
width: 2rem;
display: grid;
place-items: center;
color: #99E2D0;
}
    


/* ANIMATION CHECKMARCK*/   

/*ROTATION CHECKMARK*/
.items__menus:hover .menus_icon_slide i{
animation: quarter-spin 0.5s ease;
margin-right: 0;
cursor: pointer; 
}
    

/*APPARITION VERS LA DROITE */

.items__menus:hover .menus_icon_slide{
animation: appear 0.5s ease;
margin-right: 0;
cursor: pointer;   
}
    
/* ANIMATION CHECKMARCK ROTATION*/   

    
@-webkit-keyframes quarter-spin{ 
    0%{
        transform: rotate(-270deg); 
    }
    100%{
        transform: rotate(0);
    }
}
    
@keyframes quarter-spin{ 
    0%{
        transform: rotate(-270deg); 
    }
    100%{
        transform: rotate(0);
    }
}

/* ANIMATION APPARITION MENUS*/   
     
@-webkit-keyframes appear {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
    
    
@keyframes appear {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
    

/* BOUTON COMMANDER*/   

.Commander{
display: flex;
justify-content: center;
}

.btn_menu{
width: 20%;
margin-bottom: 10%;
margin-top: 10%;
color: white;
font-weight: bold;
border-radius: 50px;
font-size: 20px;
padding: 15px;
border: none;
background: linear-gradient(170deg, #ff79da, #9356dc);
box-shadow: 0px 0px 12px 0px gray;
transition: 250ms;
text-align: center;
cursor: pointer;
}
    
:hover.btn_menu{
transform: scale(1.02);
opacity: 0.9;
}



/* RESTAURANT 2 */

.img_lanote{
width: 100%;
height: 60vh;
object-fit: cover
}

/*RESTAURANT 3*/
.img_française{
width: 100%;
height: 60vh;
object-fit: cover
}

/* RESTAURANT 2 */
.img_ledelice{
width: 100%;
height: 60vh;
object-fit: cover
}


/*FOOTER*/

 .footer_text{
background-color: rgb(61, 59, 59);
text-align: center;
}
                
.footer_text i{
color: white;
padding: 5px 5px 5px 0px;
}
                
.footer_text h2{
color: white;
font-family: Shrikhand,"cursive";
}
                
                
.footer__liste{
color: white;
text-decoration: none;
}


/* FLECHE RETOUR*/

.arrow{
position: absolute;
top: 38px;
left: 19px;
text-decoration: none;
color: black;
}

/* ANIMMATION*/



@media screen and (max-width: 768px){

.bloc_restaurant h2{
    font-size: 20px;
   
}

.bloc_restaurant{
    margin-left: 0;
    width: 100%;
}

.heart_color{
    margin-top: 25px;
}

.far.fa-heart{
    margin-top: -12px;
    bottom: 39px;
}


.items__menus{
    width: 98%;
    font-size: 13px;
}


.btn_menu{
    width: 50%;
}

.fuctionning li{
padding: 18px;
margin: 22px;
}

}

